# üß† Notebook 01: Lists, Dicts, Tuples, and Sets (Oh My!)

Welcome, data tamer. Before we dance with DataFrames and juggle Series, we must revisit the sacred scrolls of Python's core data structures.

In this notebook, you will:
- Recap the mighty `list`, `dict`, `tuple`, and `set`
- Learn what makes each special (besides being annoying to explain at parties)
- Practice slicing, accessing, and modifying them
- Build up intuition for working with structured data

---

## üß∫ Lists
`list`: Ordered, mutable, and basically the cargo pants of Python.

In [ ]:
fruits = ["apple", "banana", "cherry", "dragonfruit"]
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])

fruits.append("elderberry")
print("Updated list:", fruits)

## üîê Tuples
`tuple`: Like lists, but committed ‚Äî they don‚Äôt change. Perfect for fixed data.

In [ ]:
coordinates = (34.05, -118.25)  # Latitude, Longitude
print("Coordinates:", coordinates)

# Uncomment this to see Python throw a tantrum
# coordinates[0] = 0

## üì¶ Dictionaries
`dict`: Key-value pairs. Like JSON, but with fewer quotation marks and more sarcasm.

In [1]:
student = {
    "name": "Alice",
    "GPA": 3.9,
    "major": "Data Science"
}

print("Student name:", student["name"])
print("GPA using .get():", student.get("GPA"))

student["minor"] = "Philosophy"
print("Updated dictionary:", student)

Student name: Alice
GPA using .get(): 3.9
Updated dictionary: {'name': 'Alice', 'GPA': 3.9, 'major': 'Data Science', 'minor': 'Philosophy'}

## üéØ Sets
`set`: Unordered, unique values only. Great for removing duplicates or doing cool mathy stuff.

In [ ]:
courses = {"CS101", "CS102", "CS103", "CS101"}  # Duplicate ignored
print("Courses:", courses)

print("Is CS102 in the set?", "CS102" in courses)

courses.add("CS104")
courses.discard("CS101")
print("Modified courses:", courses)

---
## üß∞ Your Turn

1. Create a list of your top 5 favorite foods. Print the last item using a negative index.
2. Create a dictionary that maps student names to GPA (be kind). Add a new student.
3. Make a tuple of the days of the week. Try to change one. Document what happens.
4. Create a `set` of course names. Add a duplicate. Reflect on how sets feel about duplicates.

üéØ **Bonus**: Use a list comprehension to build a list of all squares from 1‚Äì20.

In [2]:
# Your brilliant code goes here!
foods = ["pizza", "burrito", "pasta", "tacos", "orange chicken"]
print("First food:", foods[0])
print("Last food:", foods[-1])

foods.append("chicken tenders")
print("Updated list:", foods)

First food: pizza
Last food: orange chicken
Updated list: ['pizza', 'burrito', 'pasta', 'tacos', 'orange chicken', 'chicken tenders']

In [4]:
student_gpas = {
    "Carlos": 3.5,
    "Cayden": 3.8,
    "kimaja": 3.9
}
print("Original student GPAs:", student_gpas)

student_gpas["Jacob"] = 4.0 # Adding a new student
print("Updated student GPAs:", student_gpas)

Original student GPAs: {'Carlos': 3.5, 'Cayden': 3.8, 'kimaja': 3.9}
Updated student GPAs: {'Carlos': 3.5, 'Cayden': 3.8, 'kimaja': 3.9, 'Jacob': 4.0}

In [5]:
days_of_week = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
print("Original days of the week tuple:", days_of_week)

# Try to change a day (this will raise an error)
try:
    days_of_week[0] = "Funday"
except TypeError as e:
    print(f"Error trying to change a tuple element: {e}")

Original days of the week tuple: ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
Error trying to change a tuple element: 'tuple' object does not support item assignment

In [6]:
course_names = {"Math101", "History101", "CS101"}
print("Original set of courses:", course_names)

# Adding a duplicate
course_names.add("Math101")
print("Set after trying to add a duplicate:", course_names)

course_names.add("Physics101")
print("Set after adding a new course:", course_names)

Original set of courses: {'History101', 'Math101', 'CS101'}
Set after trying to add a duplicate: {'History101', 'Math101', 'CS101'}
Set after adding a new course: {'History101', 'Math101', 'CS101', 'Physics101'}

---
## üßº Why This Matters

Before we start feeding `.csv` files into Pandas like a malfunctioning vending machine, we need to truly *feel* how data is structured. These built-in types help shape, store, and manipulate everything we‚Äôll touch from here on.

Next up? Pandas `Series` and `DataFrames`. Buckle up.