#Carlos Astudillo
# üìò 01 - Scalar Types

Review and practice working with Python's basic scalar data types.

## ‚úÖ Learning Goals
- Recognize scalar types (`int`, `float`, `str`, `bool`)
- Use the `type()` function to identify types
- Use variables and assignment

In [12]:
# üîß Define some variables
num = 42
pi = 3.14159
name = 'Python'
is_cool = True
best_soccerteam = 'Arsenal'
best_cfb = 'Oklahoma'
num_heismans = 7
favorite_color = 'blue'

In [18]:
# üîç Check their types
print(type(num))
print(type(pi))
print(type(name))
print(type(is_cool))
print(type(best_soccerteam))
print(type(best_cfb))
print(type(num_heismans))
print(type(favorite_color))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>

### ‚úèÔ∏è Your Turn
Create your own variables of each type and print them.

In [11]:
num = 67
pi = 3.14
name = 'Carlos'
is_cool = False
best_soccerteam = 'Arsenal'
best_cfb = 'Oklahoma'
num_heismans = 7
favorite_color = 'blue'

In [19]:
print(type(num))
print(type(pi))
print(type(name))
print(type(is_cool))
print(type(best_soccerteam))
print(type(best_cfb))
print(type(num_heismans))
print(type(favorite_color))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>

## ‚öñÔ∏è Comparison Practice
Use comparison operators to check values.

In [ ]:
x = 10
y = 5
print(x > y)
print(x == y)
print(x != y)

In [21]:
x = 42
y = 6
print(x > y)
print(x == y)
print(x != y)

True
False
True

## üß† Quick Check
What will the following print? true
```python
print(3.0 == 3)
```

In [20]:
print(3.0 == 3)

True