# üìò 03 - Data Types and Arithmetic

Explore Python basics like variables, data types, and arithmetic operations.

## ‚úÖ Learning Goals
- Understand Python data types
- Use variables and print statements
- Perform basic arithmetic

In [37]:
# üß† Variables and Types
x = 10
y = 3.5
z = 'hello'
print(type(x), type(y), type(z))

<class 'int'> <class 'float'> <class 'str'>

In [38]:
# ‚ûï Arithmetic Operations
print('Add:', x + y)
print('Divide:', x / y)
print('Floor Divide:', x // y)
print('Exponent:', x ** 2)

Add: 13.5
Divide: 2.857142857142857
Floor Divide: 2.0
Exponent: 100

## ‚úèÔ∏è Try It Yourself
- Create your own variables
- Try combining numbers and strings
- Use `input()` to interact

In [39]:
# Your code here
x = int(input('Enter a value for num1: '))
y = int(input('Enter a value for num2: '))
name = input('What is your name: ')
print(type(x),type(y),type(name))

Enter a value for num1: 6
Enter a value for num2: 7
What is your name: Carlos
<class 'int'> <class 'int'> <class 'str'>

In [40]:
print('Add:', x + y)
print('Subtract:', x - y)
print('Multiply:', x * y)
print('Divide:', x / y)
print('Floor Divide:', x // y)
print('Exponent:', x ** 2)
print(name + ' only has ' + str(x) + ' apples left after eating ' + str(y) + " for lunch")

Add: 13
Subtract: -1
Multiply: 42
Divide: 0.8571428571428571
Floor Divide: 0
Exponent: 36
Carlos only has 6 apples left after eating 7 for lunch

## üì§ Submit
Make sure your name is at the top in a Markdown cell.
Submit via D2L or Colab link.